<article class="post">
  <div class="title">
    <a href="/post/{{id}}" target="">{{title}} by {{user.username}} on {{format_date created_at}} | Genre: {{post_genre}} </a>

  </div>
  <div class="meta">
     <span>{{ post_content}} | </span>
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>